* { padding:0px; margin:0px; }


body {
	background-image:url(../images/bg.png);
	background-color: #000008;
	background-position: 0px -150px;
	background-repeat: no-repeat;
}

a:hover{
	color: #c9c358;
}

#wrapper, .wrap {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 25px;
}

#logo {
	margin-left: 35px;
	margin-top: -12px;
}

#header {
	background-image: url(../images/header-bg.png);
	background-repeat: repeat-x;
	height: 200px;
	font-family: Arial;
}
#header .wrap {
	background-image: url(../images/header-wrap.png);
	height: 180px;
	padding-top: 10px;
}
.call {
	float: right;
	width: 400px;
	height: 30px;
}
#header .wrap img {
	text-align: center;
}
#main {
	background-image: url(../images/w-bg.png);
	padding-top: 18px;
	background-repeat: repeat-y;
	width: 960px;
	float: left;
}

#gold {
	background-image:url(../images/gold-line.png);
	background-repeat: repeat-x;
	width: 960px;
	float: left;
	height: 14px;
}

#sidebar {
	width:250px;
	float: left;
}#content {
	float: right;
	width: 680px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 20px;
}
#sidebar ul li {
	list-style-type: none;
	padding-bottom: 5px;
	border-bottom-color: #cdced0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	padding-top: 10px;
}
#sidebar ul li a {
	color: #2c3445;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
}

#banner {
	height:250px;
	width: 960px;
	float: left;
}

.clearfix { clear:both; }

#footer{
	width:960px;
	margin-left:auto;
	margin-right:auto;
	color: #FFFFFF;
	margin-bottom: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

#footer a{
	color:#c1c553;
}

p+p {
	padding-top: 10px;
}
.cnt-form {
	background-image: url(../images/cform_bg.png);
	height: 340px;
	background-repeat: repeat-x;
}
#sidebar ul {
	padding-right: 10px;
	padding-left: 10px;
}
.cnt-form input , .cnt-form textarea {
	width:100%;
}



.button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);

}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}
/* color styles 
---------------------------------------------- */

/* black */
.black {
	color: #d7d7d7;
	border: solid 1px #333;
	background: #333;
	
	background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
	background: -moz-linear-gradient(top,  #666,  #000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}
.black:hover {
	background: #000;
	background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
	background: -moz-linear-gradient(top,  #444,  #000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000');
}
.black:active {
	color: #666;
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#444));
	background: -moz-linear-gradient(top,  #000,  #444);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#666666');
}

.bigrounded {
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
}
.medium {
	font-size: 12px;
	padding: .4em 1.5em .42em;
}
.small {
	font-size: 11px;
	padding: .2em 1em .275em;
}

#content h1 {
	color: #d0a200;
	font-weight: normal;
	font-size: 42px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

p {
	font-family: Georgia, "Times New Roman", Times, serif;
	line-height: 1.5em;
}
#main2 {
	background-color: #FFFFFF;
	width: 960px;
	padding-top: 25px;
	padding-bottom: 25px;
}

ul {
	margin-left: 20px;
	
}

#content li {
	margin-left: 20px;
	list-style-image: url("images/bullet.gif");
}
